
* {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    box-sizing: border-box;
    margin: 0px;
}

:root {
    --main-color: #ffb649;
    --add-color1: rgb(97, 150, 97);
    --add-color2: #01400b;
}


/* Header */

header {
    height: 350px;
    background-image: url(./images/background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

header div {
    background-color: rgba(0, 0, 0, 0.5);
    border-top: solid 10px rgba(0, 0, 0, 0.1);
    border-bottom: solid 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
}

h1 {
    color: var(--main-color);
    font-size: 60px;
    padding: 0px;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    width: 100%;
    text-align: center;
}

h2 {
    padding-bottom: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    border-radius: 10px;;
    color: white;
}

h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
}


/* About me */

.about-me {
    background-color: var(--add-color1);
    padding: 30px 30px 20px 30px;
    align-items: center;
    border-bottom: solid  10px #87ab87;
    line-height: 1.5em;
    min-height: 200px;
}

.about-me img {
    height: 200px;
    margin-right: 30px;
    border-radius: 50%;
    float: left;    
    -webkit-shape-outside: circle();    
    shape-outside: circle();
    border: solid 4px var(--main-color);
}

.about-me h3 {
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    padding-bottom: 10px;
}

.about-me p {
    padding-top: 10px;
    padding-bottom: 20px;
}


/* Main content */

.main-content {
    display: flex;
}

.main-content div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content ul {
    list-style-type: none;
    font-size: 25px;
    padding: 40px 0px;
}

.main-content li {
    padding: 20px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.main-content img {
    width: 100%;
    min-height: 380px;
    min-width: 378px
}

.circle {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: solid 10px #fbc575;

}

.circle h3 {
    padding: 65px 0px 15px 0px;
    font-size: 28px;
}

.circle p {
    padding: 0px 35px 10px 30px;
    text-align: center;
    line-height: 1.4em;
}

button {
    background-color: black;
    padding: 8px 11px 10px 11px;
    margin-bottom: 40px;
    border: none;
    letter-spacing: 0.1em;
    border: solid 1px white;
}

button:hover {
    background-color: var(--main-color);
    color: black;
    transition: background-color 0.8s;
    transition: color 0.4s;
}

button a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: rgb(255, 255, 255);
}

button a:hover {
    text-decoration: none;
}


/* Contact */

.contact {
    background-color: var(--add-color2);
    color: white;
    padding: 35px 40px 19px 40px;
    border-top: solid 12px #306037;

}

.contact h3 {
    padding: 30px 0px 20px 0px;

}

figure {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 15px;
}

.contact img {
    height: 40px;
    margin-right: 15px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    transition: all 0.3s;
}


/* Footer */

footer {
    background-color: black;
    color: white;
    font-size: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


/* Media Queries */

@media screen and (min-width: 751px) and (max-width: 1007px) {
    .about-me {
        border-bottom: none;
    }

    #shade1 {
        background-color: hsl(36deg 100% 74%);
    }
    #shade2 {
        background-color: hsl(36deg 100% 79%);
    }
    #shade3 {
        background-color: hsl(36deg 100% 84%);
    }

    .main-content {
        flex-wrap: wrap;
    }
    .main-content ul {
        width: 100%;
        background-color: hsl(36deg 100% 69%);
        padding: 50px 0px 0px 0px;
    }
    div.nowrap {
        width: 50%;
    }
    .main-content img {
        max-width: 200px;
    }
}

@media screen and (max-width: 750px) {
    .main-content {
        flex-wrap: wrap;
    }
    .main-content img {
        display: none;
    }
    .circle {
        margin-bottom: 50px;
    }
}
